body{
    margin: 00;
    padding: 00;
    font-family: "Poppins";
}

.main-header{
    background: white;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    border-bottom: 1px solid lightseagreen;
}
.full-logo{
    display: flex;
    align-items: center;
    gap: .50vw;
    margin-left: 5vw;
    
}
.full-logo img{
    height: 1.4vw;
    /* width: 15%; */
}
.nav-link ul li{
    display: flex;
    align-items: center;
    gap: 4vw;
    margin: 00 15vw;
}
ul li a{
    text-decoration: none;
    text-transform: capitalize;
}
.font{
    display: flex;
    gap: 4vw;
    margin-left: 5vw;
}
.hero-banner{
    background-image: url(./images/scandinavian-interior-mockup-wall-decal-background\ 1.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vh 10w 4vh 50vw;
    background-repeat: no-repeat;
}